body {
    margin: 0;
}

.site-header {
    border-top:5px solid #424242;
    position: relative;
}

.name {
    font-size: 2em;
    font-weight: bold;
    display: block;
    font-family: Roboto Condensed;
    margin-top: .5em;
    color: #048;
}

.prof {
    font-size: 1.5em;
    display: block;
    font-family: Roboto Condensed;
    margin-top: .25em;
    color: #048;
}

.email {
    font-size: 1.0em;
    display: block;
    font-family: Roboto Mono;
    margin-top: 1.0em;
    color: #048;
}

.main_text h1 {
    font-family: Roboto Condensed;
    color: #048;
}

.main_text a {
    color: #048;
    text-decoration: none;
}

.main_text a:hover {
    text-decoration: underline;
}

.main_text p {
    font-size: 1.0em;
    line-height: 1.5em;
}

.profile_pic {
    width: 215px;
    height: 350px;
    border-radius: 0%;
    background-image: url("hannah_e_mccall.jpg");
    background-size: cover;
    display: inline-block;
}

.main_text table {
    border-collapse: collapse;
    margin: auto;
}

.main_text th {
    font-weight: 800;
    padding: 0.5em;
    border-bottom: 2px solid #048;
}

.main_text td {
    padding: 0.5em;
}
